<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50">
      <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="99">
          <img alt="logo" class="h-auto w-100" src="../../../../assets/logo-large.png">
        </div>
        <div class="mt-5 h-100 w-100" fxFlex="1">
          <mat-progress-bar class="progress-bar-color" mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
