<form [formGroup]="formGroup" class="mt-3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-form-field appearance="standard" fxFlexFill>
    <mat-label>Nombre de usuario</mat-label>
    <input autocomplete="off" class="text-align-center" formControlName="username" matInput name="username" type="text">
    <mat-hint *ngIf="hasError('username')">
      <p class="form-error">{{ getError('username') }}</p>
    </mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard" fxFlexFill>
    <mat-label>Correo electronico</mat-label>
    <input autocomplete="off" class="text-align-center" formControlName="email" matInput name="email" type="email">
    <mat-hint *ngIf="hasError('email')">
      <p class="form-error">{{ getError('email') }}</p>
    </mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard" fxFlexFill>
    <mat-label>Nombre</mat-label>
    <input autocomplete="off" class="text-align-center" formControlName="name" matInput name="name" type="text">
    <mat-hint *ngIf="hasError('name')">
      <p class="form-error">{{ getError('name') }}</p>
    </mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard" fxFlexFill>
    <mat-label>Apellidos</mat-label>
    <input autocomplete="off" class="text-align-center" formControlName="surnames" matInput name="surnames" type="text">
    <mat-hint *ngIf="hasError('surnames')">
      <p class="form-error">{{ getError('surnames') }}</p>
    </mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard" fxFlexFill>
    <mat-label>Password</mat-label>
    <input autocomplete="off" class="text-align-center" formControlName="password" matInput name="password"
           type="password">
    <mat-hint *ngIf="hasError('password')">
      <p class="form-error">{{ getError('password') }}</p>
    </mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard" fxFlexFill>
    <mat-label>Confirmar contraseña</mat-label>
    <input autocomplete="off" class="text-align-center" formControlName="confirmPassword" matInput name="confirmPassword"
           type="password">
    <mat-hint *ngIf="hasError('confirmPassword')">
      <p class="form-error">{{ getError('confirmPassword') }}</p>
    </mat-hint>
  </mat-form-field>
  <button (click)="register()" [disabled]="loading" class="mt-3" mat-button type="submit">Registrarme</button>
</form>
