<ng-template [ngIf]="review">
  <div class="background-color-contrast p-2 review-border unselectable" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="p-5 background-secondary" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <span class="review-title pb-3">{{ review.book.title }}</span>
      <img [src]="review.image.id | image" alt="img" class="detail-image">
      <div class="w-100 p-3 background-color-contrast border-with-color" fxLayout="row" fxLayoutAlign="center space-between"
           fxLayoutGap="10px">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start">
          <ul class="content-list">
            <li>
              <p [routerLink]="['/book', review.book.id]" class="list-item">Libro: <span
                class="list-item-bold">{{ review.book.title }}</span></p>
            </li>
            <li>
              <p (click)="searchAutor()" class="list-item">Autor: <span
                class="list-item-bold">{{ review.book.autor.name + ' ' + review.book.autor.surnames }}</span></p>
            </li>
          </ul>
        </div>
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="center end">
          <ul class="content-list">
            <li>
              <p class="list-item">Fecha de publicación: <span
                class="list-item-bold">{{ review.reviewDate | date:'shortDate' }}</span></p>
            </li>
            <li>
              <p class="list-item">Puntuación:
                <span class="list-item-bold">
                      <ngb-rating [(rate)]="review.score" [max]="5" [readonly]="true" class="rating-color"></ngb-rating>
                </span>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="w-100 p-3 background-color-contrast border-with-color" fxLayout="row">
        <mat-card-content>
          <p class="review-content">{{ review.review }}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</ng-template>
