<div fxLayout="column" fxLayoutAlign="space-between center" class="h-100">
  <app-navbar class="w-100"></app-navbar>
  <div class="w-100 my-5 h-100" fxLayout="column">
    <mat-drawer-container autosize="false" hasBackdrop="true">
      <mat-drawer #drawer autoFocus="false" mode="over" position="end">
        <app-sidenav></app-sidenav>
      </mat-drawer>
      <mat-drawer-content class="background-color">
        <div fxLayout="column" fxLayoutGap="30px">
          <div fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
            <app-banner></app-banner>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">
            <div class="background-color-contrast" fxFlex="90" fxLayout="column">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <app-footer class="w-100"></app-footer>
</div>
