<div fxLayout="column" fxLayoutAlign="center start" fxFlexFill>
    <app-multi-auto-completer #input title="Nombre" [completer]="categoryCompleter" fxFlexFill></app-multi-auto-completer>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFlexFill>
        <button fxLayout="row" mat-button (click)="buscar()" class="mt-3">Buscar</button>
        <div fxLayout="column" fxLayoutAlign="center center">
            <p class="text-toggle unselectable">Busqueda inclusiva</p>
            <mat-slide-toggle [(ngModel)]="inclusiveSearch"></mat-slide-toggle>
        </div>
    </div>
</div>
