<ng-template [ngIf]="autor">
  <mat-card (click)="onClick()" class="my-1 unselectable background-secondary">
    <div fxFlexFill fxLayout="column" fxLayoutAlign="center start">
      <mat-card-header fxFlexFill fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title>{{ autor.name + ' ' + autor.surnames }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions fxFlexFill fxLayout="column" fxLayoutAlign="center center">
        <button mat-button>VER LIBROS DE AUTOR</button>
      </mat-card-actions>
    </div>
  </mat-card>
</ng-template>
