<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
  <button fxFlexFill mat-button routerLink="/">
    <mat-icon class="menu-icon">home</mat-icon>
    Inicio
  </button>
  <button fxFlexFill mat-button routerLink="/admin/">
    <mat-icon class="menu-icon">book</mat-icon>
    Libros
  </button>
  <button fxFlexFill mat-button routerLink="/admin/reviews">
    <mat-icon>local_library</mat-icon>
    Reviews
  </button>
  <button fxFlexFill mat-button routerLink="/admin/autors">
    <mat-icon class="menu-icon">people_outline</mat-icon>
    Autores
  </button>
  <button fxFlexFill mat-button routerLink="/admin/categories">
    <mat-icon class="menu-icon">local_offer</mat-icon>
    Categorías
  </button>
  <button fxFlexFill mat-button routerLink="/admin/editorials">
    <mat-icon class="menu-icon">business</mat-icon>
    Editoriales
  </button>
</div>
