<header class="sticky-top unselectable">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between space-between" class="background-primary">
        <!-- BIG SCREEN -->
        <div fxLayout="row" fxFlexFill fxLayoutAlign="start space-between" fxHide fxShow.gt-sm>
            <div fxFlex="50" fxFlexFill fxLayout="column" fxLayoutAlign="center start">
                <app-title routerLink="/"></app-title>
            </div>
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
                <ul fxFlexFill class="navbar-list" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30px">
                    <li fxLayout="row" fxLayoutAlign="center center" class="h-100">
                        <app-profile-navbar class="h-100"></app-profile-navbar>
                    </li>
                    <li fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon class="navbar-icon" (click)="openSearch()">search</mat-icon>
                    </li>
                    <li class="navbar-item" fxLayout="row" fxLayoutAlign="center center" [matMenuTriggerFor]="linksMenu">
                        <mat-icon class="navbar-icon">menu</mat-icon>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SMALL SCREEN -->
        <div fxLayout="row" fxFlexFill fxLayoutAlign="start space-between" fxHide fxShow.lt-md>
            <ul fxFlexFill class="navbar-list" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
                <li class="navbar-item" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon class="navbar-icon" (click)="openSearch()">search</mat-icon>
                </li>
                <li class="navbar-item" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon class="navbar-icon" (click)="toggleSidenav()">menu</mat-icon>
                </li>
            </ul>
        </div>
    </mat-toolbar>
</header>
<mat-menu #linksMenu="matMenu" xPosition="before" class="border-dark border border-1 mt-1 menu-container">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="p-3 menu-container">
        <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/">
            <mat-icon class="menu-icon">home</mat-icon>Inicio
        </button>
        <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/books">
            <mat-icon class="menu-icon">book</mat-icon>Libros
        </button>
        <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/reviews">
            <mat-icon>local_library</mat-icon>Reviews
        </button>
        <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/autors">
            <mat-icon class="menu-icon">people_outline</mat-icon>Autores
        </button>
        <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/categories">
            <mat-icon class="menu-icon">local_offer</mat-icon>Categorías
        </button>
        <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/editorials">
            <mat-icon class="menu-icon">business</mat-icon>Editoriales
        </button>
    </div>
</mat-menu>
