<div fxLayout="row" fxLayoutAlign="center center" class="profile-container h-100 unselectable" [matMenuTriggerFor]="profileMenu">
    <ng-template [ngIf]="isLogged()">
        <p class="profile-username">{{ getProfile().username }}</p>
    </ng-template>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="h-100">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="profile-image" [src]="(isLogged() && getProfile().image) ? (getProfile().image.id | image) : 'assets/unknown_user.jpg'" alt="">
        </div>
    </div>
</div>
<mat-menu #profileMenu="matMenu" xPosition="before" class="border-dark border border-1 mt-1">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="p-3 menu-container">
        <ng-template [ngIf]="isLogged()">
            <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="menu-icon">account_circle</mat-icon>Mi perfil
            </button>
            <button mat-menu-item (click)="logout()" class="menu-item" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="menu-icon">clear</mat-icon>Cerrar sesión
            </button>
        </ng-template>
        <ng-template [ngIf]="!isLogged()">
            <button mat-menu-item (click)="openAuth('login')" class="menu-item" fxLayout="row" fxLayoutAlign="start center">
                Iniciar sesión
            </button>
            <button mat-menu-item (click)="openAuth('register')" class="menu-item" fxLayout="row" fxLayoutAlign="start center">
                Registrase
            </button>
        </ng-template>
        <button mat-menu-item class="menu-item" fxLayout="row" fxLayoutAlign="start center" (click)="toggleTheme()">
            <ng-template [ngIf]="isDarkTheme()">
                <mat-icon class="menu-icon">wb_sunny</mat-icon><p class="m-2">Light Mode</p>
            </ng-template>
            <ng-template [ngIf]="!isDarkTheme()">
                <mat-icon class="menu-icon">brightness_2</mat-icon><p class="m-2">Dark Mode</p>
            </ng-template>
        </button>
    </div>
</mat-menu>
