<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" class="w-100 unselectable">
    <mat-accordion class="w-100 mt-1">
        <mat-expansion-panel class="w-100">
            <mat-expansion-panel-header>
                <mat-panel-title fxLayout="row" fxLayoutAlign="center center" class="title p-2">
                    Menu
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button mat-button fxFlexFill routerLink="/"><mat-icon class="menu-icon">home</mat-icon>Inicio</button>
                <button mat-button fxFlexFill routerLink="/books"><mat-icon class="menu-icon">book</mat-icon>Libros</button>
                <button mat-button fxFlexFill routerLink="/reviews"><mat-icon>local_library</mat-icon>Reviews</button>
                <button mat-button fxFlexFill routerLink="/autors"><mat-icon class="menu-icon">people_outline</mat-icon>Autores</button>
                <button mat-button fxFlexFill routerLink="/categories"><mat-icon class="menu-icon">local_offer</mat-icon>Categorías</button>
                <button mat-button fxFlexFill routerLink="/editorials"><mat-icon class="menu-icon">business</mat-icon>Editoriales</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
