.navbar-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-item {
  font-size: 2rem;
  cursor: pointer;

  height: 100%;
  padding: 2px;
}

.navbar-item > a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--text-color-on-primary);
  text-transform: uppercase;
  text-shadow: 1px 1px 1px var(--text-color-secondary), 1px 1px 1px var(--text-color-secondary), 1px 1px 1px var(--text-color-secondary), 1px 1px 1px var(--text-color-secondary);
  font-family: 'Garnet', Arial, serif;
  margin-top: 1px;
  margin-bottom: 1px;
}

.navbar-item:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  margin: auto;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.navbar-item > a:hover {
  color: var(--text-color-secondary);
}

.navbar-item:hover:after {
  width: 100%;
  background: var(--text-color-secondary);
}

.navbar-icon {
  transform: scale(2);
  color: var(--text-color-secondary);
  cursor: pointer;
}

.menu-container {
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-item {
  /* color: var(--text-color); */
  font-size: 1rem;
  font-weight: bold;
  /* border: 3px solid var(--background-color); */
  /* background-color: var(--background-color); */
}

.menu-item > a {
  font-size: 2rem;
  color: var(--text-color-primary);
  text-shadow: 2px 2px var(--text-color-shadow);
}

.menu-icon {
  transform: scale(1.5);
  /* color: var(--text-color); */
  cursor: pointer;
}
