.book-container {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}
