<div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="50" fxLayout="row" fxFlexAlign="center center" class="p-5">
        <ng-template [ngIf]="isDarkTheme()">
            <img style="height: 100%; width: 100%" [src]="'../../../../assets/logo-' + size + '-dark.png'" alt="logo">
        </ng-template>
        <ng-template [ngIf]="!isDarkTheme()">
            <img style="height: 100%; width: 100%" [src]="'../../../../assets/logo-' + size + '.png'" alt="logo">
        </ng-template>
    </div>
</div>
