.profile-image {
  border-radius: 50%;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.profile-username {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

.button-container {
  border-top: 1px solid black;
}
